{
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "comma-dangle": [2, "always-multiline"]
  }
}
